{% extends 'index.html' %}

{% block content %}
	<h4>Employees Data</h4>
	<div class="col-md-12">
		<table class="table">
			<tr>
				<th class="ui-helper-center">First Name</th>
				<th class="ui-helper-center">Last Name</th>
				<th class="ui-helper-center">Email</th>
			</tr>
		{% for user in users %}
			<tr>
				<td>{{ user.first_name }}</td>
				<td>{{ user.last_name }}</td>
				<td>{{ user.email }}</td>
			</tr>
		{% endfor %}
		</table>
	</div>
{% endblock %}