{% extends 'index.html' %}

{% block content %}
	<h4>Payroll Report</h4>
	<div class="col-md-12">
		<table class="table">
			<tr>
				<th class="ui-helper-center">DATE</th>
				<th class="ui-helper-center">TIME-IN</th>
				<th class="ui-helper-center">TIME-OUT</th>
				<th class="ui-helper-center">HOURS</th>
			</tr>
		{% for detail in details %}
			<tr>
				<td>{{ detail.date }}</td>
				<td>{{ detail.timein }}</td>
				<td>{{ detail.timeout }}</td>
				<td>{{ detail.hours }}</td>
			</tr>
		{% endfor %}
			<tr>
				<td></td>
				<td></td>
				<td>Total</td>
				<td>{{ total.hours__sum }}</td>
			</tr>
		</table>
	</div>
{% endblock %}