{% extends 'index.html' %}

{% block content %}
	<h4>Payslip for {{ user.first_name }} {{ user.last_name }}</h4>
	<div class="col-md-6" style="margin: auto;">
		<table class="table">
			<tr>
				<th class="right">Month</th>
				<th class="ui-helper-center"></th>
			</tr>
			<tr>
				<td class="right">Number of Hours</td>
				<td class="right">{{ total_hours.hours__sum }}</td>
			</tr>
			<tr>
				<td class="right">Hourly Rate</td>
				<td class="right">Php {{ rateexpense.hourly_rate }}</td>
			</tr>
			<tr>
				<td class="right">Total Gross Income</td>
				<td class="right">Php {{ total_gross }}</td>
			</tr>
			<tr>
				<th class="right">Expenses</th>
			</tr>
			<tr>
				<td class="right">Withholding Tax</td>
				<td class="right">Php {{ rateexpense.withholding_tax }}</td>
			</tr>
			<tr>
				<td class="right">HDMF</td>
				<td class="right">Php {{ rateexpense.hdmf }}</td>
			</tr>
			<tr>
				<td class="right">PHIC</td>
				<td class="right">Php {{ rateexpense.phic }}</td>
			</tr>
			<tr>
				<td class="right">SSS</td>
				<td class="right">Php {{ rateexpense.sss }}</td>
			</tr>
			<tr>
				<th class="right">Total Expenses</td>
				<td class="right">Php {{ total_expense }}</td>
			</tr>
			<tr>
				<th class="right">NET INCOME</td>
				<td class="right">Php {{ net_income }}</td>
			</tr>
		</table>
	</div>
{% endblock %}