{% extends 'index.html' %}

{% block content %}
	<h2>Settings</h2>
	<div class="col-md-12">
		<h4>CHANGE USERNAME</h4>
		<table style="margin: auto;">
		<form method="POST">
	    	{% csrf_token %}
	    	{{ form1.as_table }}
	    	<tr>
	    		<td></td>
	    		<td>
	    			<input type="submit" value="Submit">
	    		</td>
	    	</tr>
	  	</form>
	  	</table>	
	</div>
	<div class="col-md-12">
		<h4>CHANGE PASSWORD</h4>
		<table style="margin: auto;">
		<form method="POST">
	    	{% csrf_token %}
	    	{{ form2.as_table }}
	    	<tr>
	    		<td></td>
	    		<td>
	    			<input type="submit" value="Submit">
	    		</td>
	    	</tr>
	  	</form>
	  	</table>
	</div>
{% endblock %}