button.btn {
    background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
    outline:none;
}

.table td.fit, 
.table th.fit {
    white-space: nowrap;
    text-align: center;
    width: 10%;
}

.ui-helper-center {
    text-align: center;
}

.right {
	text-align: right;
}